<!DOCTYPE html>
<html>
<head>
	<title>RESTful Article App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>

<div class="ui three item menu">
  <a class="active item" href="/"><i class="home icon"></i>Home</a>
  <a class="item" href="/articles/new"><i class="edit icon"></i>Post New Article</a>
  <a class="item" href="/"><i class="newspaper outline icon"></i>Read All Articles</a>
</div>
